 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 25px;
}

.u-section-1 .u-image-1 {
  min-height: 652px;
  background-image: url("images/c.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  margin: 0 139px 0 10px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 54px;
  min-height: 16px;
  width: 128px;
  min-width: 52px;
  margin: 39px auto 0 10px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 652px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 50px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-image-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 56px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-image-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-image-1 {
    min-height: 662px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 25px;
  }
}